{% extends 'layout.html' %}{% block title%}Contact{% endblock %} {% block body %}
<div class="body-div grid">
    <div class="grid-child">
        <div class="text-div">
            <div class="social-text">
                <h3 class="large- font">Want to chat?</h3>
                <p class="small-font">You can reach me through my socials or send me an email through the form</p>
            </div>

            <div class="social-links">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="{{ socials['twitter'] }}"><i class="fab fa-twitter-square"></i></a>
                <a href="{{ socials['instagram'] }}"><i class="fab fa-instagram"></i></a>
                <a href="{{ socials['github'] }}"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>

    <div class="input-grid">
        <form action="{{ url_for('contact') }}" method="POST">
            <div class="form-grid grid-width">
                <input type="text" name="first_name" id="" placeholder="First Name" value="{{first_name}}" class="grid-input" required>
                <input type="text" name="last_name" id="" placeholder="Last Name" value="{{last_name}}" class="grid-lastInput" required>
            </div>

            <input type="email" name="email" id="" placeholder="Email Address" value="{{email}}" class="form-fields" required>
            <input type="text" name="subject" id="emailSubject" placeholder="Subject" value="{{subject}}" class="form-fields" required>
            <textarea name="body" id="" cols="40" rows="20" class="form-fields" minlength="0" required>{{body}}</textarea>
            <button type="submit" id="{{button}}">Send</button>
        </form>
    </div>
</div>



{% endblock %}